<div class="container">
    <h2>Search Books</h2>
    <form action="/books" method="GET">
            <div class="d-flex justify-content-end text-dark">
                <div class="form-floating">
                    <input class="form-control" placeholder="Enter Books Name" id="floatingInput" type="text" name="title" value="<%= searchOptions.title %>">
                    <label for="floatingInput">Enter Search Name</label>
                </div>
                <button class="btn btn-secondary mx-4" type="submit">Search</button>
            </div>
    </form>
</div>
<br>
<%- include('../partials/bookCover') %>
