<div class="form-floating mb-3">
    <input class="form-control" id="floatingInput" type="text" name="name" placeholder="Name" value="<%= author.name %>">
    <label for="floatingInput" class="form-control-label">Name</label>
</div>