<div class="container">
    <h3 class="text-center">Edit Name</h3>
    <form action="/authors/<%= author.id %>?_method=PUT" method="POST">
            <%- include("./_form_fields") %>
            <button type="submit" class="btn btn-success mt-3">Change</button>
        </form>
</div>