<div class="container">
<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <div class="d-flex justify-content-end">
        <div class="form-floating text-dark">
            <input class="form-control" placeholder="Enter Search Name" id="floatingInput" type="text" name="name" value="<%= search.name %>">
            <label for="floatingInput">Enter Search Name</label>
        </div>
        <button class="btn btn-secondary mx-4" type="submit">Search</button>
    </div>
</form>
<br>
    <% authors.forEach(author=>{ %>
        <div class="my-2 text-dark rounded d-flex justify-content-between">
            <a href="/authors/<%= author.id %>" style="text-decoration:none">
                <div class="p-2 d-flex align-items-center">
                    <img src="<%= author.profileImagePath %>" class="rounded-circle" width="50" height="50">
                    <div class="px-2 fs-5"><%= author.name %></div>
                </div>
            </a>
        </div>
    <% }) %>
</div>